body {
 font-size: 100%;
 font-family: "Arial";
}


#title-bar {
  text-align: center;
  font-size: 44px;
  background-color: green;
  color: white;
  font-weight: bolder;
}

#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  display: block;
}

#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar li a:hover {
  background-color: darkgrey;
}

h1 {
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 20px;
}

#welcome-message {
  display: block;
  text-align: center  
}

#character-picture {
  display: block;
  margin: auto;
  width: 20%;
  transition: transform 2s;
  padding-bottom: 20px;
}

#character-picture:hover {
  transform: scale(1.1, 1.1);
  /*transform: rotate(360deg);*/
}

/*
#details {
  border: 2px solid limegreen;
  border-radius: 10px;
  color: darkgreen;
  background-color: honeydew;
  width: 40%;
  margin: auto;
  padding: 20px;
}
*/


#friend-list {
  margin-top: -15px;
}

.property {
  font-weight: bold;    /** bold, normal, bolder, lighter **/
  font-size: 100%;
  font-style: inherit;  /** italic, oblique, normal */
}

/*
#fiona {
  color: yellow; 
  background-color: blue;
  border: 3px solid red;
  border-radius: 5px;
  padding: 1px;
  margin: 4px;
  text-align: center;
  
}
*/
